node_modules
vendor
storage
public/build
.git
.github
.pnpm-store
.idea
.vscode
.zed
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
Homestead.*
/auth.json
/.fleet
/.nova
.phpactor.json
.prettierignore
.pest-plugins.json
